@charset "UTF-8";
@media screen and (max-width: 899px) {
  /* メニューリストクリック前 */
  .nav {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: rgb(147, 133, 55);
    padding: 5rem 0.625rem 0 0.625rem;
    z-index: 999;
    width: 100%;
    height: 100vh;
    transition: all 0.5s;
    /* メニューリストクリック後 */
  }
  .nav.show {
    right: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    padding: 5rem 0.625rem 0 0.625rem;
  }
  .sub-menu_ul,
  li {
    margin: 0;
    list-style-type: none;
    font-weight: 400;
    line-height: 2.5rem;
    border-bottom: solid 1px #fff;
  }
  .sub-menu_ul a,
  li a {
    display: block;
    color: #fff;
    padding-right: auto;
    text-decoration: none;
    position: relative;
  }
  .sub-menu_ul a::before,
  li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
  }
  /* ボタンクリック前 */
  .nav-wrap {
    position: absolute;
    top: 1.5rem;
    right: 5rem;
  }
  .nav-wrap .nav_toggle {
    margin: 0;
    width: 4.3rem;
    height: 3.9rem;
    position: fixed;
    z-index: 1000;
    background-color: rgb(147, 133, 55);
    border: solid 20px rgb(147, 133, 55);
  }
  .nav-wrap .nav_toggle i {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    border-radius: 3px;
    position: absolute;
  }
  .nav-wrap .nav_toggle i:nth-child(1) {
    top: 0;
  }
  .nav-wrap .nav_toggle i:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .nav-wrap .nav_toggle i:nth-child(3) {
    bottom: 0;
  }
  .nav-wrap .nav_toggle.show i:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
  }
  .nav-wrap .nav_toggle.show i:nth-child(2) {
    opacity: 0;
  }
  .nav-wrap .nav_toggle.show i:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
  }
  #sub-nav {
    width: 100%;
    height: 100vh;
    z-index: 100;
    letter-spacing: 0.1875rem;
  }
  #sub-nav .sub-menu_ul {
    background-color: rgb(147, 133, 55);
  }
  #sub-nav .sub-menu_ul .sub-menu_li,
  #sub-nav .sub-menu_ul a {
    text-decoration: none;
    color: #fff;
  }
  .menu-top > img {
    margin: 0;
    padding: 0;
    width: 100vw;
  }
  .course-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 1.5rem 0;
  }
  .course-wrap h1.course {
    color: rgb(63, 63, 63);
    font-weight: 100;
    font-size: 1.25rem;
    text-align: center;
    letter-spacing: 0.1875rem;
  }
  .course-wrap .course-icon > img {
    width: 6.25rem;
  }
  .menu-course {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .menu-course .course-image > img {
    margin: 0 2.2rem 0 2.2rem;
    width: 90vw;
  }
  .menu-course .course-introduction {
    margin: 0 2.2rem 0 2.2rem;
    color: rgb(109, 109, 109);
  }
  .menu-course .course-introduction .course-title {
    padding: 1.25rem 0;
    letter-spacing: 0.1875rem;
    font-weight: 100;
    font-size: 1.2rem;
    border-bottom: solid 2px rgb(109, 109, 109);
  }
  .menu-course .course-introduction .course-price {
    padding-top: 1.875rem;
    font-size: 1.25rem;
    letter-spacing: 0.1875rem;
    color: black;
  }
  .menu-course .course-introduction .course-description {
    letter-spacing: 3px;
  }
  .menu-course .fadeIn_up {
    opacity: 0;
    transform: translate(0, 50%);
    transition: 2s;
  }
  .menu-course .fadeIn_up.on {
    transform: translate(0, 0);
    opacity: 1;
  }
  .oden-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 1.5rem 0;
  }
  .oden-wrap h1.oden {
    color: rgb(63, 63, 63);
    font-weight: 100;
    font-size: 1.25rem;
    text-align: center;
    letter-spacing: 0.1875rem;
  }
  .oden-wrap .oden-icon > img {
    width: 3.75rem;
  }
  .menu-oden {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .menu-oden .oden-image > img {
    margin: 0 2.2rem 0 2.2rem;
    width: 90vw;
  }
  .menu-oden .oden-introduction {
    margin: 0 2.2rem 0 2.2rem;
    color: rgb(109, 109, 109);
  }
  .menu-oden .oden-introduction .oden-title {
    padding: 1.25rem 0;
    letter-spacing: 0.1875rem;
    font-weight: 100;
    font-size: 1.2rem;
    border-bottom: solid 2px rgb(109, 109, 109);
  }
  .menu-oden .oden-introduction .oden-price {
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 0.1875rem;
    color: rgb(31, 31, 31);
  }
  .menu-oden .oden-introduction .oden-description {
    letter-spacing: 2.5px;
  }
  .menu-oden .oden-introduction .one {
    padding: 1.25rem 0;
  }
  .menu-oden .fadeIn_up {
    opacity: 0;
    transform: translate(0, 50%);
    transition: 2s;
  }
  .menu-oden .fadeIn_up.on {
    transform: translate(0, 0);
    opacity: 1;
  }
  .menu-obanzai {
    margin-top: 2rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
  }
  .menu-obanzai .obanzai-image {
    margin: 0 2.2rem 0 2.2rem;
  }
  .menu-obanzai .obanzai-image .swiper-wrapper {
    width: 90vw;
  }
  .menu-obanzai .obanzai-image .swiper-wrapper .swiper-slide > img {
    width: 100%;
  }
  .menu-obanzai .obanzai-introduction {
    margin: 0 2.2rem 0 2.2rem;
    color: rgb(109, 109, 109);
  }
  .menu-obanzai .obanzai-introduction .obanzai-title {
    padding: 1.25rem 0;
    letter-spacing: 0.1875rem;
    font-weight: light;
    font-size: 1.2rem;
    border-bottom: solid 2px rgb(109, 109, 109);
  }
  .menu-obanzai .obanzai-introduction .obanzai-description {
    padding: 1.875rem 0 1.875rem 0;
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 0.1875rem;
  }
  .menu-obanzai .obanzai-introduction .obanzai-description strong {
    font-weight: 100;
    color: rgb(69, 69, 69);
  }
  .menu-obanzai .fadeIn_up {
    opacity: 0;
    transform: translate(0, 50%);
    transition: 2s;
  }
  .menu-obanzai .fadeIn_up.on {
    transform: translate(0, 0);
    opacity: 1;
  }
  .menu-cold .cold-image > img {
    margin: 0 2.2rem 0 2.2rem;
    width: 90vw;
  }
  .menu-cold .cold-introduction {
    margin: 0 2.2rem 0 2.2rem;
    color: rgb(109, 109, 109);
  }
  .menu-cold .cold-introduction .cold-title {
    padding: 1.25rem 0;
    letter-spacing: 0.1875rem;
    font-weight: 100;
    font-size: 1.2rem;
    border-bottom: solid 2px rgb(109, 109, 109);
  }
  .menu-cold .cold-introduction .cold-description {
    padding: 1.875rem 0 1.875rem 0;
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 0.1875rem;
  }
  .menu-cold .cold-introduction .cold-description strong {
    font-weight: 100;
    color: rgb(69, 69, 69);
  }
  .menu-cold .fadeIn_up {
    opacity: 0;
    transform: translate(0, 50%);
    transition: 2s;
  }
  .menu-cold .fadeIn_up.on {
    transform: translate(0, 0);
    opacity: 1;
  }
  .menu-fried {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
  }
  .menu-fried .fried-image > img {
    margin: 0 2.2rem 0 2.2rem;
    width: 90vw;
  }
  .menu-fried .fried-introduction {
    margin: 0 2.2rem 0 2.2rem;
    color: rgb(109, 109, 109);
  }
  .menu-fried .fried-introduction .fried-title {
    padding: 1.25rem 0;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 1.2rem;
    border-bottom: solid 2px rgb(109, 109, 109);
  }
  .menu-fried .fried-introduction .fried-description {
    padding: 1.875rem 0 1.875rem 0;
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 0.1875rem;
  }
  .menu-fried .fried-introduction .fried-description strong {
    font-weight: 100;
    color: rgb(69, 69, 69);
  }
  .menu-fried .fadeIn_up {
    opacity: 0;
    transform: translate(0, 50%);
    transition: 2s;
  }
  .menu-fried .fadeIn_up.on {
    transform: translate(0, 0);
    opacity: 1;
  }
  .menu-grilled {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .menu-grilled .grilled-image > img {
    margin: 0 2.2rem 0 2.2rem;
    width: 90vw;
  }
  .menu-grilled .grilled-introduction {
    margin: 0 2.2rem 0 2.2rem;
    color: rgb(109, 109, 109);
  }
  .menu-grilled .grilled-introduction .grilled-title {
    padding: 1.25rem 0;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 1.2rem;
    border-bottom: solid 2px rgb(109, 109, 109);
  }
  .menu-grilled .grilled-introduction .grilled-description {
    padding: 1.875rem 0 1.875rem 0;
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 0.1875rem;
  }
  .menu-grilled .grilled-introduction .grilled-description strong {
    font-weight: 100;
    color: rgb(69, 69, 69);
  }
  .menu-grilled .fadeIn_up {
    opacity: 0;
    transform: translate(0, 50%);
    transition: 2s;
  }
  .menu-grilled .fadeIn_up.on {
    transform: translate(0, 0);
    opacity: 1;
  }
  .menu-closing {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
  }
  .menu-closing .closing-image > img {
    margin: 0 2.2rem 0 2.2rem;
    width: 90vw;
  }
  .menu-closing .closing-introduction {
    margin: 0 2.2rem 0 2.2rem;
    color: rgb(109, 109, 109);
  }
  .menu-closing .closing-introduction .closing-title {
    padding: 1.25rem 0;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 1.5rem;
    border-bottom: solid 2px rgb(109, 109, 109);
  }
  .menu-closing .closing-introduction .closing-description {
    padding: 1.875rem 0 1.875rem 0;
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 0.1875rem;
  }
  .menu-closing .closing-introduction .closing-description strong {
    font-weight: 100;
    color: rgb(69, 69, 69);
  }
  .menu-closing .fadeIn_up {
    opacity: 0;
    transform: translate(0, 50%);
    transition: 2s;
  }
  .menu-closing .fadeIn_up.on {
    transform: translate(0, 0);
    opacity: 1;
  }
  .sake-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
  }
  .sake-wrap h1.sake {
    color: rgb(63, 63, 63);
    font-weight: 100;
    font-size: 1.25rem;
    letter-spacing: 2px;
  }
  .sake-wrap .sake-icon > img {
    width: 3.75rem;
  }
  .menu-sake {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .menu-sake .sake-image > img {
    margin: 0 2.2rem 4.999375rem 2.2rem;
    width: 90vw;
  }
  .menu-sake .sake-introduction {
    margin: 0 2.2rem 1.5rem 2.2rem;
    color: rgb(109, 109, 109);
    letter-spacing: 0.18rem;
  }
  .menu-sake .sake-introduction .sake-title {
    padding-top: 1.5rem;
    font-weight: 100;
    font-size: 1.5rem;
  }
  .menu-sake .sake-introduction .sake-kinds {
    padding-top: 1.5rem;
  }
  .menu-sake .sake-introduction .sake-price {
    font-size: 16px;
    font-weight: 100;
  }
  .menu-sake .sake-introduction .sake-description {
    line-height: 1.5rem;
  }
  .menu-sake .sake-introduction .sake-description strong {
    font-weight: 100;
    color: rgb(69, 69, 69);
  }
  .menu-sake .fadeIn_up {
    opacity: 0;
    transform: translate(0, 50%);
    transition: 2s;
  }
  .menu-sake .fadeIn_up.on {
    transform: translate(0, 0);
    opacity: 1;
  }
}/*# sourceMappingURL=menu_sp.css.map */