@charset "UTF-8";
@media screen and (max-width: 1049px) {
  .wrapper {
    margin: 0;
    padding: 0;
  }
  .wrapper .comment {
    display: none;
  }
  .wrapper .main-nav {
    /* メニューリストクリック前 */
    /* ボタンクリック前 */
  }
  .wrapper .main-nav .logo > img {
    width: 6.25rem;
    position: absolute;
    top: 20%;
    left: 45%;
    right: 40%;
    z-index: 99;
  }
  .wrapper .main-nav .nav {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: rgb(147, 133, 55);
    padding: 5rem 0.625rem 0 0.625rem;
    width: 100%;
    height: 100vh;
    z-index: 999;
    transition: all 0.5s;
    /* メニューリストクリック後 */
  }
  .wrapper .main-nav .nav.show {
    right: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    padding: 5rem 0.625rem 0 0.625rem;
  }
  .wrapper .main-nav .nav-menu_ul,
  .wrapper .main-nav li {
    margin: 0;
    list-style-type: none;
    font-weight: 400;
    line-height: 2.5rem;
    border-bottom: solid 1px #fff;
  }
  .wrapper .main-nav .nav-menu_ul a,
  .wrapper .main-nav li a {
    display: block;
    color: #fff;
    padding-right: auto;
    text-decoration: none;
    position: relative;
  }
  .wrapper .main-nav .nav-menu_ul a::before,
  .wrapper .main-nav li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
  }
  .wrapper .main-nav .nav-wrap {
    position: absolute;
    top: 2rem;
    right: 5rem;
  }
  .wrapper .main-nav .nav-wrap .nav_toggle {
    margin: 0;
    width: 4.3rem;
    height: 3.9rem;
    position: fixed;
    z-index: 1000;
    background-color: rgb(147, 133, 55);
    border: solid 20px rgb(147, 133, 55);
  }
  .wrapper .main-nav .nav-wrap .nav_toggle i {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    border-radius: 3px;
    position: absolute;
  }
  .wrapper .main-nav .nav-wrap .nav_toggle i:nth-child(1) {
    top: 0;
  }
  .wrapper .main-nav .nav-wrap .nav_toggle i:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .wrapper .main-nav .nav-wrap .nav_toggle i:nth-child(3) {
    bottom: 0;
  }
  .wrapper .main-nav .nav-wrap .nav_toggle.show i:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
  }
  .wrapper .main-nav .nav-wrap .nav_toggle.show i:nth-child(2) {
    opacity: 0;
  }
  .wrapper .main-nav .nav-wrap .nav_toggle.show i:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
  }
  .wrapper .swiper {
    width: 100%;
  }
  .wrapper .swiper .swiper-wrapper {
    width: 100%;
    height: 85vh;
  }
  .wrapper .swiper .swiper-wrapper .swiper-slide > img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    object-position: center center;
    position: relative;
  }
  .three-picture {
    margin-top: 9.275rem;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .three-picture .center {
    position: absolute;
    top: 24.5rem;
    background-color: rgb(147, 133, 55);
    color: #fff;
    width: 100%;
    padding-bottom: 5rem;
    z-index: 10;
    background: linear-gradient(to bottom, rgb(147, 133, 55) 80%, rgba(147, 133, 55, 0) 100%);
  }
  .three-picture .center .title {
    padding-top: 40px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: 3px;
  }
  .three-picture .center .message {
    padding: 1.875rem;
    line-height: 1.5em;
    letter-spacing: 0.13rem;
    font-weight: 100;
    color: #fff;
    font-size: 1em;
  }
  .three-picture .three-images > img {
    width: 100%;
    height: 50rem;
  }
  .three-picture .shops {
    display: none;
  }
  .three-picture .staffs {
    background-color: rgb(147, 133, 55);
    position: relative;
  }
  .sub-menu_ul {
    display: none;
  }
  #sub-nav.m_fixed {
    display: none;
  }
  .meal {
    margin: 3.125em 3.125em 0 3.125em;
    display: flex;
    flex-direction: column;
  }
  .meal::before {
    content: "お食事";
    text-align: center;
    font-weight: 100;
    font-size: 1.25rem;
    color: rgb(63, 63, 63);
    letter-spacing: 3px;
    padding-bottom: 0.625rem;
  }
  .meal .dinner > img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }
  .meal .meal-about {
    display: flex;
    flex-direction: column-reverse;
  }
  .meal .meal-about .meal-description {
    display: none;
  }
  .meal .meal-about .meal-wrap::before {
    content: "まるで実家の晩御飯のよう。\aどこか懐かしいお母さんの味。第2の実家がここ東京の赤坂にあります。";
    white-space: pre;
    text-wrap: wrap;
    letter-spacing: 2px;
    font-size: 15px;
    color: rgb(63, 63, 63);
  }
  .meal .meal-about .meal-wrap .meal-title {
    display: none;
  }
  .meal .meal-about .meal-wrap .meal-ditail {
    margin: 0.625rem 0;
  }
  .meal .meal-about .meal-wrap .meal-ditail .ditail-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.625rem;
    padding-left: 0.625rem;
    text-decoration: none;
    width: 9.8125rem;
    letter-spacing: 10px;
    border-radius: 30px;
    border: solid 3px #94392f;
    color: #94392f;
    transition: background-color 0.5s;
  }
  .meal .meal-about .meal-wrap .meal-ditail .ditail-button:hover {
    display: flex;
    flex-direction: column;
    writing-mode: vertical-lr;
    font-size: x-large;
    background-color: #94392f;
    color: #fff;
  }
  .meal .meal-about .meal-wrap .meal-ditail .ditail-button:hover img {
    padding-left: 0.625rem;
    object-position: center right;
  }
  .meal .meal-about .meal-wrap .meal-ditail .ditail-button > img {
    object-position: center right;
    transform: rotate(-90deg);
  }
  .drink-wrap {
    margin: 0 3.125em 3.125em 3.125em;
    display: flex;
    flex-direction: column-reverse;
  }
  .drink-wrap::after {
    content: "お飲みもの";
    text-align: center;
    font-weight: 100;
    font-size: 1.25rem;
    color: rgb(63, 63, 63);
    letter-spacing: 3px;
    margin: 1.875rem 0 0.625rem 0;
  }
  .drink-wrap .drink-image > img {
    width: 100%;
  }
  .drink-wrap .drink-image::after {
    content: "各地のこだわりのお酒で、美味しく楽しい時間を。";
    line-height: 1.7rem;
    font-size: 0.9rem;
    color: rgb(63, 63, 63);
  }
  .drink-wrap .drink-description {
    display: none;
  }
  .drink-wrap .drink .drink-title {
    display: none;
  }
  .drink-wrap .drink .drink-ditail {
    margin-top: 0.625rem;
  }
  .drink-wrap .drink .drink-ditail .drink-button {
    padding-left: 0.625rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.625rem;
    width: 9.8125rem;
    text-decoration: none;
    letter-spacing: 10px;
    border-radius: 30px;
    border: solid 3px #94392f;
    color: #94392f;
    transition: background-color 0.5s;
  }
  .drink-wrap .drink .drink-ditail .drink-button:hover {
    display: flex;
    flex-direction: column;
    font-size: x-large;
    writing-mode: vertical-lr;
    background-color: #94392f;
    color: #fff;
  }
  .drink-wrap .drink .drink-ditail .drink-button:hover img {
    padding-left: 0.625rem;
    object-position: center right;
  }
  .drink-wrap .drink .drink-ditail .drink-button > img {
    object-position: center right;
    transform: rotate(-90deg);
  }
  .bottom-erea {
    background-image: url(../images/backgroundimage2.jpg);
    background-size: contain;
    background-repeat: repeat;
  }
  .bottom-erea .inside-shop {
    padding: 2rem 0 1rem 0;
    text-align: center;
    font-size: larger;
    letter-spacing: 2px;
    font-weight: 100;
    color: rgb(100, 100, 100);
  }
  .bottom-erea .seat {
    color: rgb(100, 100, 100);
    letter-spacing: 2px;
    line-height: 25px;
  }
  .bottom-erea .seat .seat-counter {
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 1px 10px 1px rgb(206, 206, 206);
  }
  .bottom-erea .seat .seat-counter > img {
    width: 100%;
  }
  .bottom-erea .seat .seat-counter .counter-number {
    padding: 2rem;
    font-size: x-large;
  }
  .bottom-erea .seat .seat-counter .counter-comment {
    font-size: 1rem;
    padding: 0 20px 60px 20px;
  }
  .bottom-erea .seat .seat-table {
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 1px 10px 1px rgb(206, 206, 206);
  }
  .bottom-erea .seat .seat-table > img {
    width: 100%;
  }
  .bottom-erea .seat .seat-table .table-number {
    padding: 2rem;
    font-size: x-large;
  }
  .bottom-erea .seat .seat-table .table-comment {
    font-size: 1rem;
    padding: 0 20px 60px 20px;
  }
  .bottom-erea .seat .little-private {
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 1px 10px 1px rgb(206, 206, 206);
  }
  .bottom-erea .seat .little-private > img {
    width: 100%;
  }
  .bottom-erea .seat .little-private .little-number {
    padding: 2rem;
    font-size: x-large;
  }
  .bottom-erea .seat .little-private .little-comment {
    font-size: 1rem;
    padding: 0 20px 60px 20px;
  }
  .bottom-erea .seat .seat-private {
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 1px 10px 1px rgb(206, 206, 206);
  }
  .bottom-erea .seat .seat-private > img {
    width: 100%;
  }
  .bottom-erea .seat .seat-private .private-number {
    padding: 2rem;
    font-size: x-large;
  }
  .bottom-erea .seat .seat-private .private-comment {
    font-size: 1rem;
    padding: 0 20px 60px 20px;
  }
  .bottom-erea .seat .fadeIn_up {
    opacity: 0;
    transform: translate(0, 50%);
    transition: 2s;
  }
  .bottom-erea .seat .fadeIn_up.on {
    transform: translate(0, 0);
    opacity: 1;
  }
  .sns-title {
    padding: 2em 0;
    letter-spacing: 3px;
    font-size: 2.5rem;
    color: rgb(63, 63, 63);
    font-weight: 100;
    text-align: center;
  }
  .sns-area {
    margin: 0 0 3rem 0;
  }
  .sns-area .sns-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .sns-area .sns-logo .sns-instagram > img {
    width: 12.484375rem;
    padding: 0;
  }
  .sns-area .sns-logo .sns-facebook {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1.5rem;
  }
  .sns-area .sns-logo .sns-facebook > img {
    display: inline-block;
    max-width: 200px;
  }
  .sns-area .sns-logo .sns-facebook .fb-plugin {
    text-align: center;
  }
  .sns-area .sns-logo .fadeIn_up {
    opacity: 0;
    transform: translate(0, 50%);
    transition: 2s;
  }
  .sns-area .sns-logo .fadeIn_up.on {
    transform: translate(0, 0);
    opacity: 1;
  }
  .reservation {
    display: block;
    text-align: center;
    position: fixed;
    top: 400px;
    right: 10px;
    padding: 15px 10px;
    background-color: #94392f;
    border: solid 3px #94392f;
    border-radius: 60px;
    z-index: 150;
  }
  .reservation a {
    text-decoration: none;
    color: #fff;
  }
}/*# sourceMappingURL=responsive.css.map */