@charset "UTF-8";
@media screen and (max-width: 899px) {
  /* メニューリストクリック前 */
  .nav {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: rgba(147, 133, 55, 1);
    padding: 5rem 0.625rem 0 0.625rem;
    z-index: 999;
    width: 100%;
    height: 100vh;
    transition: all 0.5s;
    /* メニューリストクリック後 */
    &.show {
      right: 0;
      z-index: 999;
      width: 100%;
      height: 100vh;
      padding: 5rem 0.625rem 0 0.625rem;
    }
  }
  .sub-menu_ul,
  li {
    margin: 0;
    list-style-type: none;
    font-weight: 400;
    line-height: 2.5rem;
    border-bottom: solid 1px #fff;
    a {
      display: block;
      color: #fff;
      padding-right: auto;
      text-decoration: none;
      position: relative;
      &::before {
        content: "";
        width: 7px;
        height: 7px;
        border-top: solid 2px #fff;
        border-right: solid 2px #fff;
        transform: rotate(45deg);
        position: absolute;
        right: 11px;
        top: 16px;
      }
    }
  }
  /* ボタンクリック前 */
  .nav-wrap {
    position: absolute;
    top: 1.5rem;
    right: 5rem;
    .nav_toggle {
      margin: 0;
      width: 4.3rem;
      height: 3.9rem;
      position: fixed;
      z-index: 1000;
      background-color: rgba(147, 133, 55, 1);
      border: solid 20px rgba(147, 133, 55, 1);
      i {
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        border-radius: 3px;
        position: absolute;
      }

      i:nth-child(1) {
        top: 0;
      }

      i:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }

      i:nth-child(3) {
        bottom: 0;
      }

      &.show {
        i:nth-child(1) {
          transform: translateY(10px) rotate(-45deg);
        }

        i:nth-child(2) {
          opacity: 0;
        }

        i:nth-child(3) {
          transform: translateY(-10px) rotate(45deg);
        }
      }
    }
  }
  #sub-nav {
    width: 100%;
    height: 100vh;
    z-index: 100;
    letter-spacing: 0.1875rem;
    .sub-menu_ul {
      background-color: rgba(147, 133, 55, 1);
      .sub-menu_li,
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
  .access-top > img {
    width: 100%;
    height: auto;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    &-title {
      text-align: center;
      margin: 4rem 0;
      font-weight: 200;
      font-size: 1.25rem;
      letter-spacing: 3px;
    }
    &-access {
      margin-bottom: 10px;
      font-size: 1.125rem;
      letter-spacing: 2px;
      border-collapse: separate;
      border-spacing: 50px 30px;
      .info-shopname {
        margin-bottom: 1.25rem;
        text-align: left;
        font-size: 1.125rem;
        font-weight: 100;
        letter-spacing: 2px;
        color: rgb(63, 63, 63);
      }
      th {
        font-size: 0.875rem;
        text-align: left;
        vertical-align: top;
      }
      td {
        font-size: 0.875rem;
        padding-left: 20px;
        a {
          text-decoration: none;
          color: rgb(63, 63, 63);
          border-bottom: solid 1px rgb(63, 63, 63);
        }
      }
    }
    &-map {
      margin-top: 2rem;
      position: relative;
      left: 0.5rem;
      right: 0.5rem;
      bottom: 2rem;
      width: 96.5%;
      height: 0;
      padding-top: 56.25%;
      & iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
