@charset "UTF-8";
@media screen and (min-width: 1050px) {
  #sub-nav {
    margin: 0;
    width: 100%;
    z-index: 100;
    letter-spacing: 3px;
    .sub-menu_ul {
      padding: 35px 150px;
      display: flex;
      justify-content: space-around;
      margin-left: auto;
      margin-right: auto;
      list-style-type: none;
      .sub-menu_li,
      a {
        text-decoration: none;
        color: rgb(63, 63, 63);
      }
    }
  }
  .reserve {
    margin: 5rem 0 15% 0;
    min-height: 100%;
    &-title {
      text-align: center;
      font-weight: 100;
      font-size: 35px;
      letter-spacing: 3px;
      color: rgb(63, 63, 63);
    }
    &-comment {
      margin: 3rem 0 1rem 20vw;
      font-size: 1.09375rem;
      font-weight: 100;
      letter-spacing: 2px;
      color: rgb(63, 63, 63);
    }
    &-tools {
      margin-left: 0;
      border-collapse: separate;
      border-spacing: 20vw 3.125rem;
      .tel {
        th {
          text-align: left;
          vertical-align: top;
        }
        td {
          a {
            letter-spacing: 2px;
            color: rgb(44, 44, 44);
            font-weight: 500;
            text-decoration: none;
          }
        }
      }
      .line {
        th {
          text-align: left;
          vertical-align: top;
        }
        td a {
          padding: 1.03125rem 2.1875rem;
          letter-spacing: 2px;
          font-weight: 500;
          text-decoration: none;
          background-color: rgba(0, 195, 0, 1);
          border: solid 1px rgba(0, 195, 0, 1);
          border-radius: 10px;
          color: #fff;
        }
      }
    }
  }
}
