@charset "UTF-8";
@media screen and (max-width: 1049px) {
  /* メニューリストクリック前 */
  .nav {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: rgba(147, 133, 55, 1);
    padding: 5rem 0.625rem 0 0.625rem;
    width: 100%;
    height: 100vh;
    z-index: 999;
    transition: all 0.5s;
    /* メニューリストクリック後 */
    &.show {
      right: 0;
      z-index: 999;
      width: 100%;
      height: 100vh;
      padding: 5rem 0.625rem 0 0.625rem;
    }
  }
  .sub-menu_ul,
  li {
    margin: 0;
    list-style-type: none;
    font-weight: 400;
    line-height: 2.5rem;
    border-bottom: solid 1px #fff;
    a {
      display: block;
      color: #fff;
      padding-right: auto;
      text-decoration: none;
      position: relative;
      &::before {
        content: "";
        width: 7px;
        height: 7px;
        border-top: solid 2px #fff;
        border-right: solid 2px #fff;
        transform: rotate(45deg);
        position: absolute;
        right: 11px;
        top: 16px;
      }
    }
  }
  /* ボタンクリック前 */
  .nav-wrap {
    position: absolute;
    top: 1.5rem;
    right: 5rem;
    .nav_toggle {
      margin: 0;
      width: 4.3rem;
      height: 3.9rem;
      position: fixed;
      z-index: 1000;
      background-color: rgba(147, 133, 55, 1);
      border: solid 20px rgba(147, 133, 55, 1);
      i {
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        border-radius: 3px;
        position: absolute;
      }

      i:nth-child(1) {
        top: 0;
      }

      i:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }

      i:nth-child(3) {
        bottom: 0;
      }

      &.show {
        i:nth-child(1) {
          transform: translateY(10px) rotate(-45deg);
        }

        i:nth-child(2) {
          opacity: 0;
        }

        i:nth-child(3) {
          transform: translateY(-10px) rotate(45deg);
        }
      }
    }
  }
  #sub-nav {
    width: 100%;
    height: 100vh;
    z-index: 100;
    letter-spacing: 0.1875rem;
    .sub-menu_ul {
      background-color: rgba(147, 133, 55, 1);
      .sub-menu_li,
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
  .reserve {
    margin: 5rem 0 2rem 0;
    &-title {
      text-align: center;
      font-weight: 100;
      font-size: 35px;
      letter-spacing: 3px;
      color: rgb(63, 63, 63);
    }
    &-comment {
      margin: 3rem 1rem 1rem 20vw;
      font-size: 1.09375rem;
      font-weight: 100;
      letter-spacing: 2px;
      color: rgb(63, 63, 63);
    }
    &-tools {
      margin-left: 0;
      border-collapse: separate;
      border-spacing: 20vw 3.125rem;
      .tel {
        th {
          text-align: left;
          vertical-align: top;
        }
        td {
          a {
            letter-spacing: 2px;
            color: rgb(44, 44, 44);
            font-weight: 500;
            text-decoration: none;
          }
        }
      }
      .line {
        th {
          text-align: left;
          vertical-align: top;
        }
        td a {
          padding: 1.03125rem 2.1875rem;
          letter-spacing: 2px;
          font-weight: 500;
          text-decoration: none;
          background-color: rgba(0, 195, 0, 1);
          border: solid 1px rgba(0, 195, 0, 1);
          border-radius: 10px;
          color: #fff;
        }
      }
    }
  }
}
